<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>746706046693-6g1a4vqilkf233q0druvhr2n0up8proj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746706046693-6g1a4vqilkf233q0druvhr2n0up8proj</string>
	<key>API_KEY</key>
	<string>AIzaSyBxeF89NGjBufLesQP7772O-FT6k8doVmw</string>
	<key>GCM_SENDER_ID</key>
	<string>746706046693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crazyknow.AppTest1</string>
	<key>PROJECT_ID</key>
	<string>app1-dddcc</string>
	<key>STORAGE_BUCKET</key>
	<string>app1-dddcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746706046693:ios:7324da9b364d342b</string>
	<key>DATABASE_URL</key>
	<string>https://app1-dddcc.firebaseio.com</string>
</dict>
</plist>